body{
    padding:0 3vw 0 3vw;
    background-color: #0D1117;
    color:white;
    font-size: larger;
}
.social{
    margin-left: 2vw;
}
.sh{
    padding:20px;
}
.sec{
    margin-bottom: 5vh;

}
  
.shadowbox {
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    padding: 8px 12px;
    background: #845293;
}
.shadow {
    width: 11em;
    border: 3px solid #333;
    border-radius: 20px;
    box-shadow: 8px 8px 5px #444;
    padding: 8px 12px;
    text-align: center;
    background: #8541b1;
}
.intro img{
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.profile-name , .certificate{
    display: flex;
    align-items: center;
}
.certificate .item{
    margin:3vw;
}
.certificate .item img{
    height: 30vw;
    width: 30vw;

}
.sh {
    width: 50em;
    border: 3px solid #333;
    box-shadow: 8px 8px 5px #444;
    padding: px 200px;
    background-image: -moz-linear-gradient(l);
}
