{% extends 'base.html' %}

{% block title %}Certifications{% endblock %}

{% block content %}
<div class="flex flex-col items-center min-h-[70vh]">
    {% for certification in certifications %}
    <div class="bg-[#474747] p-4 rounded-lg w-full max-w-xl mb-4 shadow-lg">
        <!-- Course Name -->
        <h3 class="text-lg text-green-500 font-bold">{{ certification.course_name }}</h3>

        <!-- Verification Link Block -->
        {% if certification.verification_link %}
        <div class="mt-2">
            <a href="{{ certification.verification_link }}" target="_blank" class="inline-block bg-blue-500 text-white text-sm font-semibold py-1 px-3 rounded-lg ">
                Verify
            </a>
        </div>
        {% endif %}

        <!-- Offered By -->
        <p class="text-gray-400 text-xs mt-2">
            <strong>Offered by:</strong> {{ certification.offered_by }}
        </p>

        <!-- Technologies Learned -->
        <p class="text-gray-400 text-xs mt-1">
            <strong>Technologies Learned:</strong> {{ certification.technologies }}
        </p>
    </div>
    {% endfor %}
</div>
{% endblock %}
