{% extends 'base.html' %}

{% block title %}Projects{% endblock %}

{% block content %}
<div class="flex flex-col items-center min-h-[60vh]"> <!-- Set a minimum height to keep the page balanced -->
    {% for project in projects %}
    <div class="bg-[#474747] p-4 rounded-lg w-full max-w-xl mb-4 shadow-lg"> <!-- Adjusted padding and margins -->
        
        <!-- Project Title with GitHub Link -->
        <div class="flex items-center mb-2">
            <h3 class="text-xl text-green-500 font-bold">{{ project.title }}</h3> <!-- Adjusted font size -->
            <a href="{{ project.github_link }}" target="_blank" class="ml-3">
                <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub" width="20" class="hover:opacity-80">
            </a>
        </div>

        <!-- Project Description -->
        <p class="text-gray-200 text-sm leading-relaxed mb-2">{{ project.description }}</p> <!-- Adjusted font size -->

        <!-- Technologies Used -->
        <div class="text-gray-400 text-xs">
            <strong>Tech Used:</strong>
            <span>{{ project.technologies }}</span>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
