{% extends 'base.html' %}

{% block title %}
    Resume | Vaibhav Jadhav
{% endblock %}

{% block content %}
<div class="flex justify-center items-center min-h-[90vh]">
    <!-- Resume Preview with Border -->
    <div class="border-4 border-gray-700 rounded-lg shadow-lg p-2 bg-white">
        <iframe 
            src="https://drive.google.com/file/d/1l6YZ47bjMiokuDbPSe94qjVPvdil5sQ2/preview" 
            width="500px" 
            height="700px" 
            class="rounded-lg">
        </iframe>
    </div>
</div>
{% endblock %}
